#field{
    width: 80%;
    height: 30px;
    border-radius: 20px;
    box-shadow: 20px -2px 20px rgb(164, 121, 121);
}

#btn-2, #btn-1{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: gray;
    cursor: pointer;
    color: white;
}

